<footer class="chat-footer-container">
    <form autocomplete="off" (ngSubmit)="onSendMsg()">
        <div class="chat-footer">
            <div class="input-container">
                <input [(ngModel)]="message.text" name="message" type="text" placeholder="Type a message">
            </div>
            <div class="record">
                <button class="record-bttn" aria-label="Voice message">
                    <svg viewBox="0 0 24 24" width="24" height="24" class="">
                        <path fill="currentColor"
                            d="M1.101 21.757 23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </form>
</footer>