body {
    background-color: rgb(10, 16, 20);
    margin: 0;
    font-family: UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif
}

a {
    text-decoration: none;
    color: inherit;

    // &:hover {
    //     text-decoration: underline;
    // }
}