$border-list: rgba(134, 150, 160, 0.15);


$text-dark: #8696a0;
$app-background: #0a1014;
// $shadow-rgb: (11, 20, 26);
$panel-header-background: #202c33;
$primary-strong: #e9edef;
$compose-panel-background: #202c33;
$compose-input-border: #2a3942;
$icon: #8696a0;