<div class="contact-preview-container">
    <a [routerLink]="['/contact', contact._id]">

        <div class="contact-preview">
            <div class="contact-img">
                
                <img src="https://pps.whatsapp.net/v/t61.24694-24/287909778_1021880948699156_776863972214245326_n.jpg?ccb=11-4&oh=634cc42f4d021c067afbec7a822b2646&oe=62D3DF39"
                alt="">
                
                
                
            </div>
            <div class="contact-content">
                <div class="contact-title">
                    <div class="title">{{contact.name}}</div>
                    <div class="time">{{contact.lastMsgTimeStemp | date:'h:mm a '}}</div>
                </div>
                <div class="last-message">
                    see in soon!!!
                </div>
            </div>
        </div>
    </a>
</div>