.video-call-modal-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    .video-call-modal {
        .remote-video {
            width: 64vw;
            height: 50vh;
            background-color: black;
            video {
                width: 100%;
                height: 100%;
            }
        }
    }
}